* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

@font-face {
  font-family: "20-kopeek-book";
  src: url(./20-kopeek-book.otf);
}
body {
  font-family: "20-kopeek-book";
}

.fr-section {
  background-image: url(../imgs/hero-img-1.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
.header__logo {
  display: flex;
  gap: 15px;
  align-items: center;
}
.header__logo p {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 15px;
  color: #fff;
}
.header__buttons {
  display: flex;
  gap: 20px;
  align-items: center;
}
.header__buttons div {
  border: 1px solid #fff;
  border-radius: 15px;
  width: 204px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__buttons div a {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #fff;
}

.fr-section__content {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-top: 200px;
  justify-content: start;
  gap: 15px;
}
.fr-section__content h1 {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 55px;
  line-height: 100%;
  color: #181818;
}
.fr-section__content p {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 34px;
  line-height: 110%;
  color: #181818;
}
.fr-section__content .fr-section__buttons {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 60px;
}
.fr-section__content .fr-section__buttons button {
  border: 2px solid #fff;
  border-radius: 40px;
  padding: 23px 47px;
  width: 186px;
  height: 71px;
}
.fr-section__content .fr-section__buttons button:nth-child(2) {
  border-radius: 40px;
  padding: 23px 47px;
  width: 228px;
  height: 71px;
}

.what-is-style {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.what-is-style__img h2 {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 38px;
  line-height: 110%;
  color: #181818;
  margin-bottom: 10px;
}
.what-is-style__content P {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #181818;
}

.how-to-create-logo {
  margin-top: 100px;
}
.how-to-create-logo h2 {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 55px;
  line-height: 100%;
  color: #181818;
}
.how-to-create-logo__steps {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
.how-to-create-logo__steps__step {
  display: flex;
  align-items: center;
  margin-top: 40px;
  justify-content: center;
  gap: 5px;
}
.how-to-create-logo__steps__step h1 {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 55px;
  line-height: 100%;
  color: #181818;
}
.how-to-create-logo__steps__step p {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #181818;
}

.how-much {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  gap: 30px;
}
.how-much__text {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.how-much__text p:nth-child(1) {
  margin-bottom: 20px;
}
.how-much__text .how-much__text__bg {
  border-radius: 5px;
  width: 416px;
  height: 93px;
  background-color: #2b59c3;
  padding: 5px;
}
.how-much__text .how-much__text__bg p {
  color: #fff;
}
.how-much__text P {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #181818;
}
.how-much .how-much__img h2 {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 38px;
  line-height: 110%;
  color: #181818;
  margin-bottom: 20px;
}

.projects-sec {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
.projects-sec__project {
  margin-top: 80px;
}
.projects-sec__project .projects-sec__project__text {
  display: flex;
  align-items: center;
  gap: 40px;
}
.projects-sec__project .projects-sec__project__text h1 {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 55px;
  line-height: 100%;
  color: #181818;
  margin-top: 40px;
}
.projects-sec__project .projects-sec__project__text p {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #181818;
  width: 65%;
}
.projects-sec__project .projects-sec__project__text button {
  border: 1px solid #181818;
  border-radius: 40px;
  padding: 23px 47px;
  width: 231px;
  height: 71px;
}
.projects-sec .show-more {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
.projects-sec .show-more button {
  border-radius: 40px;
  padding: 23px 47px;
  width: 250px;
  height: 75px;
  background-color: #2b59c3;
  color: #fff;
  border: none;
}

.present-sec {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.present-sec h2 {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 38px;
  line-height: 110%;
  color: #181818;
  margin-bottom: 10px;
}
.present-sec__text {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.present-sec__text div {
  border-radius: 5px;
  width: 459px;
  height: 230px;
  background: #2b59c3;
  padding: 5px;
}
.present-sec__text div p {
  color: #fff;
}
.present-sec__text p:nth-child(1) {
  margin-bottom: 20px;
}
.present-sec__text P {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #181818;
}

.two-inputs-sec {
  margin-top: 100px;
}
.two-inputs-sec div:nth-child(1) h1 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 38px;
  line-height: 110%;
  color: #181818;
  margin-bottom: 10px;
}
.two-inputs-sec div:nth-child(1) h3 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 26px;
  line-height: 110%;
  color: #181818;
  margin-bottom: 10px;
}
.two-inputs-sec div:nth-child(2) {
  display: flex;
  align-items: center;
  gap: 30px;
}
.two-inputs-sec div:nth-child(2) input {
  border: 1px solid #181818;
  border-radius: 10px;
  width: 350px;
  height: 71px;
  padding: 10px 20px;
}
.two-inputs-sec div:nth-child(2) button {
  border-radius: 40px;
  padding: 23px 47px;
  width: 228px;
  height: 71px;
  background: #2b59c3;
  border: none;
  color: #fff;
}
.two-inputs-sec div:nth-child(3) {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
.two-inputs-sec div:nth-child(3) p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #181818;
}
.two-inputs-sec div:nth-child(3) p span {
  color: #2b59c3;
}

.creating-steps-sec {
  margin-top: 100px;
}
.creating-steps-sec h1 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 55px;
  line-height: 100%;
  color: #181818;
  width: 45%;
  margin-bottom: 30px;
}

.steps-sec p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  color: #181818;
}
.steps-sec__row1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-top: 50px;
}
.steps-sec__row1 div P {
  width: 60%;
}
.steps-sec__row1 div p:nth-child(1) {
  margin-bottom: 20px;
}/*# sourceMappingURL=main.css.map */